.contextmenu
{
  position: absolute;
  min-width: 150px;
  background: #FFF;
  /*opacity: .88;*/
  user-select: none;
  z-index: 5;
  display: flex;
  flex-direction: column;
  border: 1px solid #CCC;
}

.contextmenu:focus{
  outline: 0;
}

.menuitem{
  color: #000;
  cursor: pointer;
  padding: 2px 5px;
}

.menuitem:hover{
  background: #eee;
}

.contextmenu hr{
  margin: 1px;
}