#toolbar{
  width: 100%;
  padding: auto;
  background: #ccc;
  font-size: 0;
  z-index: 101;
}

#connection{
  background: #F00;
  border-radius: 10px;
  border: 1px solid #777;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 5px;
  vertical-align: sub;
}

#toolbar button{
  background: #ccc;
  border: none;
  border-right: 1px solid grey;
  cursor: pointer;
  margin: 0;
}

#toolbar button:active{
  background: #bbb;
}

#toolbar .left{
  float: none;
  display: inline;
}