#user-list{
  display: none;
  position: absolute;
  top: 17px;
  right: 0;
  min-width: 250px;
  max-width: 300px;
  max-height: 400px;
  background: #F2F2F2;
  border: 3px solid #DDD;
  border-top: none;
  border-right: none;
  overflow: hidden;
  z-index: 100;
}

#user-list:focus,
#user-list .user-name:focus,
#user-list .user-color:focus{
  outline: 0;
}

#user-list .user{
  border-bottom: 1px solid #DDD;
  padding: 2px;
  white-space: nowrap;
}

#user-list .user-name{
  display: inline-block;
  min-width: 10px;
  margin-left: 7px;
}

#user-list .user-color{
  display: inline-block;
  margin: auto 0;
  vertical-align: text-bottom;
}

#user-list .user-location{
  text-decoration: underline;
  margin-right: 5px;
  cursor: pointer;
}

#user-list .user-location:hover{
  color: #999;
}

#user-list .user-location,
#user-list .user-location-before{
    color: #888;
}