<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="shortcut icon" href="bunny.png" type="image/png" />
    <link rel="stylesheet" href="stylesheets/login.css" />
  </head>
  <body>
    <form id=form>
      <div id=username-container>
        Username: <input id=username />
      </div>
      <div id=password-container>
        Password: <input id=password type=password />
      </div>
      <div id=verify-password-container>
        Verify Password: <input id=verify-password type=password />
      </div>
      <a id=toggle-action>register</a>
      <input id=submit type=submit value=login />
    </form>
    <script type="text/javascript" src="javascript/client/Login.js"></script>
  </body>
</html>