<!DOCTYPE html>
<html>
  <head>
    <title>JoshDevelop</title>
    <link rel="shortcut icon" href="bunny.png" type="image/png" />

    <script src="javascript/shared/eventraiser.js"></script>
    <script src="javascript/tabs.js"></script>

    <script src="javascript/toolbar.js"></script>
    <script src="javascript/userlist.js"></script>
    <script src="javascript/settings.js"></script>
    <script src="javascript/projectlistmenu.js"></script>
    <script src="javascript/session.js"></script>
    <script src="javascript/splitter.js"></script>
    <script src="javascript/init.js"></script>

    <script src="javascript/contextmenu.js"></script>
    <script src="javascript/editor.js"></script>
    <script src="javascript/shared/filetree.js"></script>
    <script src="javascript/shared/filenode.js"></script>
    <script src="javascript/filemanager.js"></script>

    <% for(let location of stylesheets) { -%>
      <link rel="stylesheet" href="<%= location %>" />
    <% } -%>

    <% for(let location of scripts) { -%>
      <script src="<%= location %>"></script>
    <% } -%>
  </head>

  <body>
    <div id=toolbar>
      <div class=left>
        <button id=settings-button>Settings</button>
      </div>
      <div class=right>
        <button id=user-list-button>Users</button>
        <div id=connection></div>
      </div>
    </div>
    <div id=user-list tabindex="0"></div>

    <div id=filetree></div>

    <div id=editor-container class=tabbed-container>
      <div class=tab-header>
        <div class=tab-container></div>
      </div>
      <div class=tab-content></div>
    </div>

    <div id=settings style="display:none">
      <div class=tab-container></div>
      <div class=tab-content></div>
    </div>

    <div id=popup-container></div>
  </body>
</html>